ol
each user in users
    li Username = #{user.username}
    li Title=#{user.title}
    li Type=#{user.type}
    li Patent=#{user.patent}
    li Idea=#{user.idea}
    li Data=#{user.date}
    li Url=#{user.url}
    li Description=#{user.description}
    <br>
